

<h1>Index Hai</h1>
<!--<button onclick="signIn()">Sign In By JS</button>-->
<!--<script src="~/sign-in.js"></script>-->
<button onclick="signIn()">Sign In By OIDC</button>

<button onclick="signOut()">Sign Out By OIDC</button>

<button onclick="callApi()">Call API's</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> <!-- Javascripts Http Clients -->
<script src="~/auth-oidc.js"></script>